{% extends 'rents/base.html' %}
{% block title %} Alquileres
{% endblock %}
{% block content %}

<div class="row">
    <div class="col s6">
        <form method="GET" id="filterForm">
            <select name="cityId" id="cityId">
                {% for city in cities %}
                <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}  
            </select>               
            <button type="submit" class="btn btn-default">Filtrar</button>
        </form>
    </div>
</div>
<div class="reservationsArea">
        <div class="row">
            {% if props %}
                {% for prop in props %}
                <div class="col s3">
                    <div class="card">
                        <div class="card-image">
                            <img src="{{prop.image.url}}">
                            <span class="card-title">{{prop.title}}</span>
                        </div>
                        <div class="card-content">
                            <p>{{prop.description}}</p>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'rents:prop' prop.id %}">This is a link</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h2>No se encontraron propiedades</h2>
            {% endif %}
        </div>
 </div>
 <script>
        $(document).ready(function() {
            $('select').formSelect();
        });
 </script>
        
{% endblock %}