{% extends 'rents/base.html' %}
{% load static %}
{% block title %} Alquileres
{% endblock %}
{% block content %}
{% if propInfo %}
<div class="row">
    <div class="col s6">
        <h2>{{propInfo.name}}</h2>
    </div>
</div>
<div class="row">
    <div class="col s6 offset-s4">
        <img class="responsive-img" src="{{propInfo.image.url}}">
    </div>
</div>
<div class="row">
    <div class="col s6">
        <p>Detalles de la propiedad:</p>
        <ul class="collection">
            <li class="collection-item">Descripcion: {{propInfo.description}} </li>
            <li class="collection-item">Cant Max de personas: {{propInfo.maxGuests}}</li>
            <li class="collection-item">Ciudad: {{propInfo.city}}</li>
            <li class="collection-item">Nombre del Propietario: {{propInfo.owner}} </li>
            <li class="collection-item">Precio por Dia: {{propInfo.dailyPrice}}</li>
          </ul>
    </div>
    <div class="col s6">
        <p>Dias habilitados para reservar:</p>
        <div class="days">
            <ul class="collection">
                {% for propDay in propDays %}
                    <li class="collection-item">{{propDay.date}}</li>
                {% endfor %} 
            </ul>
        </div>        
    </div>
</div>
<div class="row">
    <form class="col s12" action="/rents/reserveProp/" method="POST">
        {% csrf_token %}
        <h3>Realizar una Reserva: </h3>
        <div class="row">
            <div class="input-field col s6">
                <input id="firstName" name="firstName" type="text" class="validate" required>
                <label for="firstName">Nombre</label>
            </div>
            <div class="input-field col s6">
                <input id="lastName" name="lastName" type="text" class="validate" required>
                <label for="lastName">Apellido</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="email" name="email" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>
            <div class="input-field col s6">
                    <input id="guestCount" name="guestCount" type="number" min="1" max="10" class="validate" value="{{ request.session.guestCount}}" required>
                    <label for="guestCount">Cantidad de Personas</label>
            </div>
        </div>
        <div class="row">
                <div class="input-field col s6">
                    <input id="dateFrom" name="dateFrom" type="text" class="datepicker" value="{{ request.session.dateFrom }}" required>
                    <label for="dateFrom">Desde:</label>
                </div>
                <div class="input-field col s6">
                    <input id="dateTo" name="dateTo" type="text" class="datepicker" value="{{ request.session.dateTo }}" required>
                    <label for="dateTo">Hasta:</label>
                </div>
            </div>
        <input type="number" name="propId" id="propId" value="{{propInfo.id}}" hidden>
        <div class="row">
            <div class="input-field col s6">
                <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                </button>
            </div>
        </div>
        
    </form>
</div>
{% endif %}
{% endblock %}

