{% extends 'rents/base.html' %}
{% load static %}
{% block title %} Alquileres
{% endblock %}
{% block content %}
<div class="row">
    <div class="col s6 offset-s3 ">
        {% if propInfo %}
        <img class="responsive-img" src="{{propInfo.image.url}}">
    </div>
</div>
<div class="row">
    <div class="col s6">
        <h2>{{propInfo.title}}</h2>
    </div>
</div>
<div class="row">
    <div class="col s3">
        <h4>Descripcion: </h4>
        <p>{{propInfo.description}}</p>
        <h4>Cantidad Maxima de Personas:</h4>
        <p>{{propInfo.maxGuests}}</p>
        <h4>Ciudad:</h4>
        <p>{{propInfo.city}}</p>
    </div>
    <div class="col s3">
        <h3>Nombre del Propietario:</h3>
        <p>{{propInfo.owner}}</p>
        <h4>Precio por Dia:</h4>
        <p>{{propInfo.dailyPrice}}</p>
    </div>
</div>
<div class="row">
    <form class="col s12" action="/rents/reserveProp/">
        <h2>Realizar una Reserva: </h2>
        <div class="row">
            <div class="input-field col s6">
                <input id="firstName" type="text" class="validate">
                <label for="firstName">Nombre</label>
            </div>
            <div class="input-field col s6">
                <input id="lastName" type="text" class="validate">
                <label for="lastName">Apellido</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="dateFrom" type="text" class="datepicker">
                <label for="dateFrom">Desde:</label>
            </div>
            <div class="input-field col s6">
                    <input id="dateTo" type="text" class="datepicker">
                    <label for="dateTo">Hasta:</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
                </button>
            </div>
        </div>
        
    </form>
</div>
{% endif %}
<script>
        document.addEventListener('DOMContentLoaded', function() {
            const options = {}
            var elems = document.querySelectorAll('.datepicker');
            var instances = M.Datepicker.init(elems, options);
            console.log(instances)
      });      
</script>
{% endblock %}

